{% extends 'base.html' %}

{% block title %} Wicker Worth {% endblock %}

{% load static %}

{% block body %}
<div class="categories">
    <ul class="collapsible popout mt-4">
        <li>
          <div class="collapsible-header"><i class="material-icons">new_releases</i>New Arrivals</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>
    <ul class="collapsible popout mt-4">
        <li>
          <div class="collapsible-header"><i class="material-icons">dashboard</i>Available offers</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>
    <ul class="collapsible popout mt-4">
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>Weekly Deals</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>
    <ul class="collapsible popout mt-4">
        <li>
          <div class="collapsible-header"><i class="material-icons">trending_up</i>Top Ranking</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>
</div>
<div class="main-category">
    <p class="mt-4"> <strong> All categories </strong> </p> <br>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="{% static 'homepage/images/clothing.jpg' %}" alt="clothings" class="activator">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Clothing<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">Find out more</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Clothing<i class="material-icons right">close</i></span>
                    <p>We have clothings from a wide variety of choices. For men, women and children</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="{% static 'homepage/images/jewellery.jpg' %}" alt="jewellery" class="activator">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Jewellery<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">Find out more</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Jewellery<i class="material-icons right">close</i></span>
                    <p>We offer any type of jewellery; form necklaces to earrings and more.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="{% static 'homepage/images/foodstuff.jpg' %}" alt="foodstuff" class="activator">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Foodstuff<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">Find out More</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Foodstuff<i class="material-icons right">close</i></span>
                    <p>Like a restaurant, you can order foodstuff with us to be delivered</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="{% static 'homepage/images/electronics.jpg' %}" alt="electronics" class="activator">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Electronics<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">Find out more</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Electronics<i class="material-icons right">close</i></span>
                    <p>We sell electronic devices like phones, tablets, laptops, e.t.c</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="{% static 'homepage/images/art.jpg' %}" alt="art" class="activator">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Art Work<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">Find out More</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Art Work<i class="material-icons right">close</i></span>
                    <p>We admire the art work delivered by various artists. Find out more about us</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="{% static 'homepage/images/beverages.jpg' %}" alt="beverages" class="activator">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Beverages<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">Find out more</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Beverages<i class="material-icons right">close</i></span>
                    <p>We get quality and affordable beverages for you.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
         <div class="col-sm-4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="{% static 'homepage/images/bedroom.jpg' %}" alt="Bedroom" class="activator">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Bedroom<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">Find out More</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Bedroom Stuff<i class="material-icons right">close</i></span>
                    <p>We offer bedding equipment in various categories; bedsheets, pillows, pillow cases, e.t.c</p>
                </div>
            </div>
        </div>
         <div class="col-sm-4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="{% static 'homepage/images/gifts.jpg' %}" alt="gifts" class="activator">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Gifts<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">Find Out More</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Gift Packaging<i class="material-icons right">close</i></span>
                    <p>Gift packaging of gift hampers with various goodies of your choice.</p>
                </div>
            </div>
        </div>
         <div class="col-sm-4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="{% static 'homepage/images/beauty.jpg' %}" alt="beauty" class="activator">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Beauty<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">Find out more</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Beauty Cosmetics<i class="material-icons right">close</i></span>
                    <p>Beauty is an essential commodity. Find the best original quality from one of our stores.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contacts">
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>
{% endblock %}
