{% extends 'base.html' %}

{% block title %} Wicker Worth {% endblock %}

{% load static %}

{% block body %}
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="{% static 'homepage/images/clothing.jpg' %}" alt="clothings" class="activator">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Clothing <i class="material-icons right">more_vert</i></span>
                    <p><a href="#">Men's Wear</a></p>
                    <p><a href="#">Women's Wear</a></p>
                    <p><a href="#">Children's Wear</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>We have clothings from a wide variety of choices. For men, women and children</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="{% static 'homepage/images/clothing.jpg' %}" alt="jewellery" class="activator">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Jewellery<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">Find out more</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">The jewellery<i class="material-icons right">close</i></span>
                    <p>We offer any type of jewellery; form necklaces to earrings and more.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="{% static 'homepage/images/foodstuff.jpg' %}" alt="foodstuff" class="activator">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Foodstuff<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">Find out More</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Foodstuff<i class="material-icons right">close</i></span>
                    <p>Like a restaurant, you can order foodstuff with us to be delivered</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="{% static 'homepage/images/clothing.jpg' %}" alt="electronics" class="activator">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Electronics<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">Find out more</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Electronics<i class="material-icons right">close</i></span>
                    <p>We sell electronic devices like phones, tablets, laptops, e.t.c</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="{% static 'homepage/images/clothing.jpg' %}" alt="art" class="activator">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Art Work<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">Find out More</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Art Work<i class="material-icons right">close</i></span>
                    <p>We admire the art work delivered by various artists. Find out more about us</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="{% static 'homepage/images/clothing.jpg' %}" alt="beauty" class="activator">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Clothing <i class="material-icons right">more_vert</i></span>
                    <p><a href="#">Men's Wear</a></p>
                    <p><a href="#">Women's Wear</a></p>
                    <p><a href="#">Children's Wear</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">About Clothing <i class="material-icons right">close</i></span>
                    <p>We have clothings from a wide variety of choices. For men, women and children</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
         <div class="col-sm-4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="{% static 'homepage/images/clothing.jpg' %}" alt="clothings" class="activator">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Clothing <i class="material-icons right">more_vert</i></span>
                    <p><a href="#">Men's Wear</a></p>
                    <p><a href="#">Women's Wear</a></p>
                    <p><a href="#">Children's Wear</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">About Clothing <i class="material-icons right">close</i></span>
                    <p>We have clothings from a wide variety of choices. For men, women and children</p>
                </div>
            </div>
        </div>
         <div class="col-sm-4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="{% static 'homepage/images/clothing.jpg' %}" alt="clothings" class="activator">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Clothing <i class="material-icons right">more_vert</i></span>
                    <p><a href="#">Men's Wear</a></p>
                    <p><a href="#">Women's Wear</a></p>
                    <p><a href="#">Children's Wear</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">About Clothing <i class="material-icons right">close</i></span>
                    <p>We have clothings from a wide variety of choices. For men, women and children</p>
                </div>
            </div>
        </div>
         <div class="col-sm-4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="{% static 'homepage/images/clothing.jpg' %}" alt="clothings" class="activator">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Clothing <i class="material-icons right">more_vert</i></span>
                    <p><a href="#">Men's Wear</a></p>
                    <p><a href="#">Women's Wear</a></p>
                    <p><a href="#">Children's Wear</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">About Clothing <i class="material-icons right">close</i></span>
                    <p>We have clothings from a wide variety of choices. For men, women and children</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
